.profile .user-picture img{
  width: 100%
}

.links a{
  margin: 10px 0
}
.tabs--primary .user--edit{
  display: none;
}
.tabs--primary .user--edit.active{
  display: block;
}
.idea-wrapper{
  padding: 10px 0;
}
body.front.navbar-is-fixed-top{
  padding-top: 45px;
}
.banner-area{
  margin-bottom: 20px;
}
.navbar-default {
    background-color: #f4d23e !important;
    border-color: #f1c400!important;
}
.navbar{
  margin-bottom: 0;
}
.main-container{
  padding-top: 20px
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1a4f84;
    background-color: #f4d23e;
}
.navbar-default .navbar-nav > li > a{
  color: #1a4f84;
}
.navbar-collapse nav{
  margin-top: 40px;
  float: right;
}
ul.hybridauth-widget{
  float: left !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mar-top20 {
  margin-top: 20px;
}
