.profile .user-picture img{
  width: 100%
}

.links a{
  margin: 10px 0
}
.tabs--primary .user--edit{
  display: none;
}
.tabs--primary .user--edit.active{
  display: block;
}
.idea-wrapper{
  padding: 10px 0;
}
