.profile .user-picture img{
  width: 100%
}

.links a{
  margin: 10px 0
}
.tabs--primary .user--edit{
  display: none;
}
.tabs--primary .user--edit.active{
  display: block;
}
.idea-wrapper{
  padding: 10px 0;
}
body.front.navbar-is-fixed-top{
  padding-top: 45px;
}
.banner-area{
  margin-bottom: 20px;
}
.connect-ksum a.hybridauth-widget-provider{
    font-size: 13px;
    background: #827f7f;
    padding: 8px 20px 8px 20px !important;
    text-decoration: none;
    margin-top: 3px;
}
.connect-ksum a.hybridauth-widget-provider:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
